ion-toolbar{
--background: #072B60;
}
ion-content{
    --background: #ffffff
}
ion-header{
    background-color: white;
}
ion-header .logo{
    margin-left: auto;
    margin-right: auto;
    display:block;
}
ion-title{
    color:white;
}
ion-menu-button{
    color: white;
}
a{
    text-align: center;
    display: block;
    font-size: large;
    padding:15px;
    color: black;
}
.house1{
    border-radius: 100%;
    padding: 15px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.house2{
    border-radius:100%;
    padding: 15px;
    margin:15px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.house3{
    border-radius:100%;
    padding: 15px;
    margin:15px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

div{
    border-radius: 30px;
    border-color: #85AEFF;
    background-color:#85AEFF;
    margin: 15px;
}
*{
    font-family: 'Raleway', sans-serif;
}