ion-toolbar{
--background: #072B60;
}
ion-content{
    --background: #ffffff
}
ion-header{
    background-color: white;
}
ion-header .logo{
    margin-left: auto;
    margin-right: auto;
    display:block;
}
ion-title{
    color:white;
}
ion-menu-button{
    color: white;
}
a{
    text-align: center;
    padding: 15px;
    float:table-row;
}
.house1{
    border-radius: 100%;
    padding: 15px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.house2{
    border-radius:100%;
    padding: 15px;
    margin:15px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.house3{
    border-radius:100%;
    padding: 15px;
    margin:15px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}