<ion-header>
  <ion-toolbar>
    <ion-title>Favorites</ion-title>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class='Rep1'>
  <img src='https://i.pinimg.com/originals/5c/13/ca/5c13ca16c147a704ef7b57bd33ce8d2d.jpg' height=140 width=140 alt="img" class='house1' >
  <a>República Masculina</a>
  <a>Rio de Janeiro, Centro</a>

  <img src='https://i.ytimg.com/vi/ACRTAID2V08/maxresdefault.jpg' height=140 width=140 alt="img" class='house2'>
  <a>Kitnet de Luxo</a>
  <a>Rio de Janeiro, Lapa</a>

  <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQwrRo8EYpMZ3aW6O9OCi_flaEPTc_A_e1Rvw&usqp=CAU' height=140 width=140 alt="img" class='house3'>
  <a>República Feminina</a>
  <a>Rio de Janeiro, Ilha do Fundão</a> 
</ion-content>
