ion-toolbar{
    --background: #ffffff;
}
ion-content{
        --background: #ffffff
}
ion-toolbar{
    --background: #072B60;
    }
ion-title{
        color:white;
}
ion-menu-button{
        color: white;
}
a{
        text-align: center;
        float:table-column;
        display: inline;
        font-size: large;
        padding:30px;
}
.house1{
        border-radius: 100%;
        padding: 15px;
        margin: 15px;
        margin-left: auto;
        margin-right: auto;
        display:block;
}
    
.house2{
        border-radius:100%;
        padding: 15px;
        margin:15px;
        margin-left: auto;
        margin-right: auto;
        display:block;
}
    
.house3{
        border-radius:100%;
        padding: 15px;
        margin:15px;
        margin-left: auto;
        margin-right: auto;
        display:block;
}