ion-toolbar{
    --background: #ffffff;
}
ion-content{
        --background: #ffffff
}
ion-toolbar{
    --background: #072B60;
    }
ion-title{
        color:white;
}
ion-menu-button{
        color: white;
}
a{
        text-align: center;
        display: block;   
        font-size: large;
        padding:15px;
        color:black;
}
img{
        border-radius: 100%;
        padding: 15px;
        margin: 15px;
        margin-left: auto;
        margin-right: auto;
        display:block;
}
    

div{
        border-radius: 30px;
        border-color: #85AEFF;
        background-color:#85AEFF;
        margin: 15px;
}

*{
        font-family: 'Raleway', sans-serif;
}