<ion-header>
  <ion-toolbar>
    <ion-title>Favorites</ion-title>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
</style>
</ion-header>

<ion-content>
  <div>
    <img src='https://i.pinimg.com/originals/5c/13/ca/5c13ca16c147a704ef7b57bd33ce8d2d.jpg' height=140 width=140 alt="img" class='house1' >
    <a>República Masculina</a>
    <a>Rio de Janeiro, Centro</a>
    <a>Preço Estimado: XXXXXX</a>
  </div>
  <div> 
    <img src='https://i.ytimg.com/vi/ACRTAID2V08/maxresdefault.jpg' height=140 width=140 alt="img" class='house2'>
    <a>Kitnet de Luxo</a>
    <a>Rio de Janeiro, Lapa</a>
    <a>Próximo ao Centro da Cidade do Rio de Janeiro.</a>
    <a>Preço Estimado: XXXXX</a>
  </div>
  <div>
    <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQwrRo8EYpMZ3aW6O9OCi_flaEPTc_A_e1Rvw&usqp=CAU' height=140 width=140 alt="img" class='house3'>
    <a>República Feminina</a>
    <a>Rio de Janeiro, Ilha do Fundão</a>
    <a>Dentro da Universidade, com 4 quartos disponíveis.</a>
    <a>Preço Estimado: XXXXX</a>
  </div> 
</ion-content>
